body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #ffffff;
}

a {
    color: #ffffff;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

a img {
    vertical-align: middle;
}

#qtycart {
    vertical-align: middle;
    margin-left: 5px;
}

#catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.card {
    background-color: #1e1e1e;
    border: 1px solid #333;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    width: calc(20% - 40px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.1);
}

.card h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.card img {
    max-width: 100%;
    border-radius: 10px;
}

.card p {
    margin: 5px 0;
}

.card #buyButton {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.card #buyButton:hover {
    background-color: #0056b3;
}

.card.clicked {
    background-color: #2a2a2a;
    border: 1px solid #555;
}

@media (max-width: 768px) {
    .card {
        width: calc(50% - 40px);
    }
}

@media (max-width: 480px) {
    .card {
        width: calc(100% - 40px);
    }
}



